<div class="contact">
  <h2>Contactos</h2>
  <h2>Cv en español</h2>
  <a href="Mi_CV.pdf" download="Mi_CV">Descargar mi CV</a>
  <h2>Cv in inglish</h2>
  <a href="Mi_CV.pdf" download="Mi_CV">Descargar mi CV</a>
  <ul>
    <li>esta en svg contact esto</li>
    <li>probando cosas de1</li>
    <li>sera mejor dejar tu falso amor y vivir</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>{{ site.address }}</span></li> 
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>{{ site.phone }}</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="{{ site.url }}">{{ site.url }}</a></li>
  </ul>
</div>
