<div class="contact">
  <h2>Contactos</h2>
  
  <h2>Descargar Cv en español</h2>
  <a href="Mi_CV.pdf" download="Mi_CV">Descargar Cv en español</a>
  <h2>Download CV in English</h2>
  <a href="Mi_CV.pdf" download="Mi_CV">Download CV in English</a>

  <ul>
    <li>esta en svg contact esto</li>
    <div class="espaciado-vertical">Elemento 1</div>
    <li>probando cosas de1</li>
    <li>sera mejor dejar tu falso amor y vivir</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>{{ site.address }}</span> Buenos Aires, Argentina</li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>{{ site.phone }}</span> +54 9 11 68711292</li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a> fabriddeantoni@gmail.com</li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="{{ site.url }}">{{ site.url }}</a> fabrideantoni.github.io</li>
  </ul>
</div>
